body{
  background-image: url("../assets/images/background.png");

}

#logo{
  height: 25vh;
  margin-left: 40%;
  width: 20%;
}

.white-background{
  background-color: rgba(1, 0, 0, 0.6);
  color: #fff;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
}

.element {
  margin: 5%;
}

.characters:hover{
  cursor: pointer;
}
