body{
  background-image: url("../assets/images/background.png");
}

#logo{
  height: 25vh;
  margin-left: 40%;
  width: 20%;
}

.white-background{
  background: rgba(255, 255, 255, 0.6);
}

.element {
  margin: 5%;
}
