body{
  background-image: url("../assets/images/background.png");

}

#logo{
  height: 25vh;
  margin-left: 40%;
  width: 20%;
}

.white-background{
    background: rgba(5, 5, 5, 0.7);
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
}

.element {
  margin: 5%;
}

.characters:hover{
  cursor: pointer;
}
